<div class="modal fade" id="show">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Details</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                [src]="ShoeData.img"
                class="img-thumbnail"
                alt="ShoeData.img"
              />
              <br /><br />
              <button type="button" class="btn btn-secondary" (click)="readReview()" data-dismiss="modal">
                Read review
              </button>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header text-center">
                  <h4>
                    <i class="fa fa-id-card" aria-hidden="true"></i> &nbsp; Shoe
                    :
                    {{ ShoeData.name }}
                  </h4>
                </div>
                <div class="card-body">
                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Size:</div>
                    <div class="col-lg-8 text-left">
                      {{ ShoeData.size }}
                    </div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Name:</div>
                    <div class="col-lg-8 text-left">{{ ShoeData.name }}</div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Type:</div>
                    <div class="col-lg-8 text-left">{{ ShoeData.type }}</div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Category:</div>
                    <div class="col-lg-8 text-left">
                      {{ ShoeData.category }}
                    </div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Price:</div>
                    <div class="col-lg-8 text-left">
                      ฿ {{ ShoeData.price }}&nbsp; 
                    </div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Quantity:</div>
                    <div class="col-lg-8 text-left">
                      {{ ShoeData.quantity }}
                    </div>
                  </div>

                  <div class="row" style="padding: 5px">
                    <div class="col-lg-4">Details:</div>
                    <div class="col-lg-8 text-left">{{ ShoeData.detail }}</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      
      <div class="modal-footer">
        <div class="style">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
