@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,400;1,1000&display=swap');



.style button {
    font-family: 'Nunito', sans-serif;
    background-color: #ffffff; 
    color: #9A76FF;
    font-size: 17px;
    font-weight: 200; 
    padding: 6px 30px;
    border-radius: 15px;
    border-color: #7356c2;
    box-shadow: 0 6px 24px hsla(0, 0%, 100%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
}

.style button:hover {
    transform: translate(0, -6px);
    box-shadow: 0 6px 24px hsla(240, 19%, 27%, 0.5);
    background-color: #9A76FF;
    color: #ffffff;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: #9A76FF;
    box-shadow: 0 6px 24px hsla(266, 52%, 61%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
    
}


.close button {
    font-family: 'Nunito', sans-serif;
    background-color: #353d44; 
    color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: #353d44;
    box-shadow: 0 6px 24px hsla(0, 1%, 69%, 0.5);
    cursor: pointer;
}

.close button:hover {
    background-color: #ffffff; 
    color: #343A40; 
    padding: 6px 30px;
    border-radius: 15px;
    border-color: #343A40;
    box-shadow: 0 6px 24px hsla(0, 0%, 100%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
}

    


