

<div class="style col-12 text-right ">
  <button
    routerLink="addshoe"
    routerLinkActive="active"
    class="button text-right bi bi-plus-circle-dotted"
    (click)="onClick()"
    > Add Shoe</button
  >
  &nbsp;&nbsp;&nbsp;
</div>
<br />
<div class="card ">
  <div class="table-responsive-xs">
    <table class="table table-striped">
      <thead class="thead-inverse thead-dark ">
        <tr>
          <th>No.</th>
          <th>Size</th>
          <th>Name</th>
          <th>Price</th>
          <th>Type</th>
          <th>Category</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let item of ListShoe; index as i">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ item.size }}</td>
          <td>{{ item.name }}</td>
          <td>฿ {{ item.price }} </td>
          <td>{{ item.type }}</td>
          <td>{{ item.category }}</td>
          <td >{{ item.quantity }}</td>
    
          <td >
            <a
              data-toggle="modal" 
              data-target="#exampleModalCenter"
              class="btn btn-outline-danger mr-1 "
              role="button"
              (click)="selectShoe(item._id)"
            >
              <i class="bi bi-trash3"></i>
            </a>
            <a
              class="btn btn-outline-success"
              role="button"
              (click)="onClickEdit(item._id)"
            >
              <i class="bi bi-pen"></i>
              edit
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        Are you sure you want to delete this shoe?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancle">Cancle</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteShoe(shoeId)" id="ok">Ok</button>
      </div>
    </div>
  </div>
</div>

