<div class="row justify-content-center" >
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center text-dark bg-white">
        <h1>Welcome</h1>
          <img src="../../../assets/home.svg" 
          width="30%"> 
         
      <div class="card-body text-center" >
        </div>
        <div class="card-body text-center text-dark bg-white">          
          <div class="style" *ngIf="role==='Customer'">
            <button routerLink="menu"
                    routerLinkActive="active"
                    class="button"
                    (click)="onClick()">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Order Now
           </button>     
          </div>

          <div class="d-flex justify-content-center">
            <div class="style" *ngIf="role==='Admin'">
              <button routerLink="menu"
                      routerLinkActive="active"
                      class="button" 
                      routerLink="manage/shoe"
                      >
                      Shoe
              </button>     
            </div>
            <div class="style" *ngIf="role==='Admin'">
              <button routerLink="menu"
                      routerLinkActive="active"
                      class="button"
                      routerLink="manage/customer"
                      >
                      User
              </button>     
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
