<div class="alert alert-success alert-message" *ngIf="alert" role="alert">
              {{mesage?.mesage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h2 class="text-center mb-5">Edit Shoe</h2>

      <form [formGroup]="shoeForm" class="form-edit d-flex flex-row">
        <div></div>

        <div class="d-flex flex-row">
          <diV>
            <img class="img-thumbnail " [src]="this.shoeForm.value.img"/>
            <div class="form-group">
              <input type="file" class="form-control-file" formControlName="file" (change)="onChangeImg($event)" />
            </div>
          </diV>

          <div>
            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Name</label>
                <input type="text" class="form-control" style="width: 350px" formControlName="name" />
              </div>
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                <div *ngIf="name?.errors?.['required']">
                  Name is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Price</label>
                <input type="number" class="form-control" formControlName="price" />
              </div>
              <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="alert alert-danger">
                <div *ngIf="price?.errors?.['required']">
                  price is required.
                </div>
                <div *ngIf="price?.errors?.['min'] || price?.errors?.['max']">
                  price must be 1-100000 ฿
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Type</label>
                <select class="form-control" formControlName="type">
                  <option *ngFor="let item of shoeType" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div *ngIf="type?.invalid && (type?.dirty || type?.touched)" class="alert alert-danger">
                <div *ngIf="type?.errors?.['required']">
                  Type is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Size</label>
                <select class="form-control" formControlName="size">
                  <option *ngFor="let item of shoeSize" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div *ngIf="size?.invalid && (size?.dirty || size?.touched)" class="alert alert-danger">
                <div *ngIf="size?.errors?.['required']">
                  size is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Category</label>
                <select class="form-control" formControlName="category">
                  <option *ngFor="let item of shoeCategory" value="{{ item }}">
                    {{ item }}
                  </option>
                </select>
              </div>
              <div *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="alert alert-danger">
                <div *ngIf="category?.errors?.['required']">
                  size is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Quantity</label>
                <input type="number" class="form-control" formControlName="quantity" />
              </div>
              <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)" class="alert alert-danger">
                <div *ngIf="quantity?.errors?.['required']">
                  Quantity is required.
                </div>
                <div *ngIf="quantity?.errors?.['pattern']">
                  Quantity must be 1-9
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex flex-row">
                <label class="mr-3 mt-2">Detail</label>
                <input type="text" class="form-control" formControlName="detail" />
              </div>
              <div *ngIf="detail?.invalid && (detail?.dirty || detail?.touched)" class="alert alert-danger">
                <div *ngIf="detail?.errors?.['required']">
                  Details is required.
                </div>
              </div>
            </div>

            <div class="d-flex flex-row-reverse ">
              <div  class="d-flex flex-row w-55">
                <div class="style">
                  <button type="button" class="btn btn-primary" (click)="onSubmit()">
                    Save
                    <i class="bi bi-download"></i>
                  </button>
                </div>

                <div class="reset ml-3">
                  <button type="button" class="btn btn-danger"(click)="onCancle()">Cancel</button>  
                </div>
              </div>
            </div>
          </div>

        </div>
        <div></div>
      </form>






<!-- </div> -->

<!-- <p>edit-shoe works!{{data?.name}}</p>
<a class="btn btn-outline-success" role="button" (click)="onClickEdit()">
  <i class="bi bi-pen"></i>
</a> -->