@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,400;1,1000&display=swap');

.img-thumbnail {
    max-width: 350px;
    max-height: 350px;
}

.alert-message {
    text-align: center;
    
    left:550px;
    width: 20%;
}

.form-edit{
    justify-content: space-between;
}



.style button{
    font-family: 'Nunito', sans-serif;
    padding: 7px 22px;

    cursor: pointer;
    border: 0px;
    background-image: linear-gradient(225deg, #a244d5 50%,
    #66bce7 100%);
    position: relative;
    margin-left: 10px;
    transition: all 0.25s ease;
    color: #fdfdfd;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 6px 24px hsla(240, 2%, 63%, 0.5);
    
}

.style button:hover {
    transform: translate(0, -6px);
    
}

.style button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-color: #ff3cac;
    background-image: linear-gradient(225deg, #66bce7 0% , #4aa8da 50%,
    #a244d5 100%);
    z-index: -1;
    transition: all 0.25s ease;
}

.style button:hover::after {
    transform: rotate(100deg);
    
}

.reset button {
    background-color: #ffffff; 
    color: rgb(255, 13, 69); 
    padding: 6px 30px;
    border-radius: 15px;
    border-color: #f44336;
    box-shadow: 0 6px 24px hsla(0, 0%, 100%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
}
  
.reset button:hover {
    background-color: #FF3847;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    border-color: rgb(242, 189, 189);
    box-shadow: 0 6px 24px hsla(0, 46%, 62%, 0.5);
    cursor: pointer;
      
}